{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} # Posti</title>
    {% tailwind_css %}
    {% load api_types %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>

<body class="bg-gray-100">
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <div>
        {% block footer %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    {% block scripts %}
    {% endblock %}
</body>

</html>